/* color palet : content(#494F50) title(#3F4446) body() */

body {
  background-color: #2f3537;
  font-family: "Rubik", sans-serif;
}

h1 {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
}

.h4 {
  color: white;
  opacity: 0.9;
  padding: 0.5rem;
  margin: 0.8rem 0px;
}
hr {
  margin: 1rem 0;
  color: gray;
  background-color: gray;
  border: 0;
  opacity: 0.25;
  height: 1px;
  width: 95%;
}

#root {
  padding-left: 5em;
  padding-top: 2em;
}

#logo {
  padding-right: 5px;
}

#plus-bt {
  padding-left: 14rem;
  color: gray;
  opacity: 0.5;
}

#plus-bt:hover {
  color: rgb(206, 198, 198);
}

#delete-bt {
  position: absolute;
  right: 0.4rem;
  color: gray;
  opacity: 0.5;
}

#delete-bt:hover {
  color: aliceblue;
}

.grey-bt {
  color: gray;
}

.grey-bt:hover {
  color: rgb(206, 198, 198);
}

.no-tasks {
  color: gray;
  opacity: 0.8;
  padding-left: 1em;
}

.status-tag {
  color: white;
  padding: 2px 7px 0px;
  border-radius: 0.3rem;
}

.todoList {
  width: 30%;
  display: inline-block;
  margin-right: 2rem;
}
.doingList {
  position: absolute;
  width: 30%;
  display: inline-block;
  margin-right: 2rem;
  margin-top: -3rem;
  left: 28rem;
  top: 16.61rem;
}
.doneList {
  position: absolute;
  right: 2rem;
  width: 30%;
  display: inline-block;
  margin-right: 2rem;
}

.task {
  background-color: #3f4446;
  width: 80%;
  padding: 0.5rem 0.1rem 0.5rem;
  border-radius: 0.3rem;
  margin: 0.6rem 0rem 0.6rem;
  position: relative;
}

form.create-note input {
  width: 73%;
  border: none;
  color: white;
  outline: none;
  padding: 0.5rem 0rem 0.3rem 0.4rem;
  font-size: 1em;
  font-family: inherit;
  resize: none;
  border-radius: 0.3rem 0rem 0rem 0.3rem;
  margin-top: 0.6rem;
  background-color: #3f4446;
}

.form-add {
  color: gray;
  opacity: 0.8;
  background-color: #3f4446;
  padding: 0.5rem 0.3rem 0.3rem;
  border-radius: 0rem 0.3rem 0.3rem 0rem;
}

.form-add:hover {
  color: white;
}
